<h1>Welcome to Yelpdemo</h1>
<h2>Lorem ipsum dolor sit amet, consectetur <%= link_to 'BaseRails', 'http://www.baserails.com' %> adipisicing elit. Accusantium distinctio hic atque voluptate, impedit veritatis odit, ab obcaecati deleniti ipsum. Sign up and start learning today!</h2>